@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Joker App</h1>
    <p>Hilarious and downright wacky jokes to share with your quirky friends!!!</a>.</p>
</div>
